.terminal {
  color: #fff;
  margin: 8px;
  margin: 0;

  .textarea {
    position: absolute;
    top: 300px;
    left: 500px;
  }

  .wrapper {
    position: relative;

    .user {
      font-size: 14px;
      font-weight: 600;
      float: left;
      cursor: default;
    }

    .writer {
      max-width: 100dvw;
      font-weight: bold;
      word-break: break-all;

      .cursor {
        position: absolute;
        bottom: 1px;
        left: 0;
        height: 2px;
        width: 7.5px;
        color: #fff;
        background-color: #fff;
        animation: blinker 1.5s linear infinite;
      }
    }
  }
}

@keyframes blinker {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
