.textarea {
  position: absolute;
  left: -1000px;
}

.cursor {
  position: relative;
  color: #fff;
  background-color: #fff;
  font-size: 12px;
  animation: blinker 1s linear infinite;
  backdrop-filter: invert(80%);
}

.terminal {
  color: #fff;
  margin: 8px;
  overflow: auto;
}

.writer {
  font-family: cursor, courier;
  font-weight: bold;
}

.getter {
  margin: 5px;
}

@keyframes blinker {
  50% {
    opacity: 0%;
  }
}
