.textarea {
  position: absolute;
  left: 500px;
}

.wrapper {
  display: flex;
}

.user {
  font-size: 14px;
  font-family: cursor, courier;
}

.cursor {
  position: absolute;
  color: #fff;
  background-color: #fff;
  animation: blinker 1s linear infinite;
  width: 8px;
  height: 2px;
  bottom: 1px;
  left: 0;
}

.terminal {
  color: #fff;
  margin: 8px;
  overflow: auto;
}

.writer {
  position: relative;
  font-family: cursor, courier;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0%;
  }
}
