@font-face {
  font-family: DejaVuSans;
  font-weight: 100;
  src: url('../fonts/DejaVuSans-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: DejaVuSans;
  font-weight: 400;
  src: url('../fonts/DejaVuSans.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: DejaVuSans;
  font-weight: 700;
  src: url('../fonts/DejaVuSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: DejaVuSans;
  font-weight: 400;
  src: url('../fonts/DejaVuSans-Oblique.ttf') format('truetype');
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: DejaVuSans;
  font-weight: 700;
  src: url('../fonts/DejaVuSans-BoldOblique.ttf') format('truetype');
  font-style: oblique;
  font-display: swap;
}
