@import './fonts.scss';

#root {
  display: flex;
  font-family: DejaVuSans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 12px;

    /* ширина всей полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: var(--bg)

    /* цвет зоны отслеживания */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 80%);

    /* цвет бегунка */
    border-radius: 5px;

    /* округлось бегунка */
    // border: 3px solid orange;  /* отступ вокруг бегунка */
  }
}
